<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="static/quiz2style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="quiz-wrapper">
        <div id="questionBox" class="question">
            Sample Question
        </div>
        <div class="options">
            <ul id="ul">
                <li id="opt1" onclick="button(this)"></li>
                <li id="opt2" onclick="button(this)"></li>
                <li id="opt3" onclick="button(this)"></li>
                <li id="opt4" onclick="button(this)"></li>
            </ul>
        </div>
        <div class="score">
            <div class="next">
                <button id="btnNext" type="button" onclick="next()">
            Next
            </button>
            </div>
            <div class="score-card">
                YOUR SCORE IS: <span id="scoreCard">0</span>
            </div>
        </div>
    </div>
<script src="static/css.js"></script>
</body>

</html>


