{% extends "layout.html" %}
{% block title %}
  <section>
        <textarea><pre>
            <code>

#include <iostream>
using namespace std;
int main (){
   int arr[] = { 2, 5, 7, 8, 2, 6, 9 };
   int n = 7, sum = 0;
   for(int i = 0; in ; i++){
      sum+=arr[i];
   }
   cout<<"The array sum is "<<sum;
   return 0;
}

   </code>
        </pre></textarea>
        <script src="https://cdn.tiny.cloud/1/255hn1mq0c0kauesd2u4t0yfucajhozuhi4jqweyuw5imt7w/tinymce/5/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    selector: 'textarea',
                    height: 500,
                    plugins: '',
                    toolbar: '',


                });
            </script>

      </section>



{% endblock %}